.modal {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
  cursor: pointer;
  
}

#contactModal.show {
  opacity: 1;
  pointer-events: auto;
}

.closeContact {
  position: absolute;
  top: 2rem;      /* move up/down */
  right: 2rem;    /* move left/right */
  cursor: pointer;
  color: white;
  opacity: 0.7;
  transition: 0.2s ease;
}

.closeContact:hover {
  opacity: 1;
  transform: scale(1.2);
}



.contactContainer {
  height: 45vh;
  width: clamp(20%, 95vw, 500px);
  padding: 3rem;
  background: #1c1d25;
  position: relative;
  bottom: 40%;
  left: 5%;           
  transform: translate(50%, 50%); 
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactForm input,
.contactForm textarea {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 0.8rem;
  color: white;
  resize: none;
}

