footer {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(27, 28, 36);
  color: white;
}

.logo-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.footer-logo {
  height: 45px;
}

.hover-text {
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  font-size: 15px;
  color: white;
}

.logo-wrapper:hover .hover-text {
  opacity: 1;
  transform: translateX(0);
}

.footerList {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footerList > li > a {
  position: relative;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 1.1rem;
  padding-bottom: 4px; 
}


.footerList > li > a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0%;
  height: 2px;
  background: #8c14fc;
  transition: width 0.4s ease;
}
.footerList > li > a:hover::after {
     width: 100%;
}

.footerList > li > a:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}


@media (max-width: 900px) {
  footer {
    height: auto;
    padding: 3rem 1rem;
  }

  .footerList {
    gap: 2rem;
  }

  .footerList > li > a {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  footer {
    gap: 1.5rem;
  }

 .footerList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: auto;                  
  column-gap: 10rem;                    
  list-style: none;  
  padding-inline: 3rem;                     
}
  .footerList > li > a {
    font-size: 1.1rem;
  }

  .footer-logo {
    height: 60px;
  }
  .hover-text{
    display: none;
  }

  h3 {
    font-size: 0.9rem;
  }
}
